* {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    margin: 0;
}
ul{list-style: none;}
nav{ text-align: center;
    width: 80%;
    overflow: hidden;
    height: 80px;
    margin: 50px auto;
    border-bottom: 1px solid #bbb;
}
.container {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eeefea;
    color: black;
    font-size: 10px;
    font-weight: 300;
}
li {
    float: center;
    padding: 0 30px;
    line-height: 70px;
    display: inline-block;
    text-decoration: none !important;   
}
a{
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited{
    color: black;
}
input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 13px;
}
.search{
    position: relative;
    float: center;
    text-align: center;
}
.search > ul {
    list-style: none;
}
.search > ul > li {
    float: left;
    margin-right: 30px;
    display: inline;
}
.search_bar {
    width: 300px;
    display: flex;
    align-items: center;
    border: none;
    text-align: left;
    font-size: 13px;
    z-index: 1;
    opacity: 1;
}
.search_bar > img {
    position: absolute;   
}
.search_shop {
    font-size: 20px;
    font-weight: bold;
}
.shop_list {
    color: blue;
    font-weight: lighter;
}
.sale{
    background-color: azure;
    color: black;
    font-weight: 200;
}
.near_shop{
    background-color: #eeefea;
    height: 80%;
    width: 100%;
    position: fixed;
}
.near_shop > p{
    margin-bottom: 30px;
    margin-top: 25px;
}
.shop1{
    width: 20%;
    height: 270px;
    border: 1px solid #eeefea;
    border-radius: 5px;
    float: left;
    margin-right: 3.5%;
    margin-left: 17%;

}
.shop1 > img{
    width: 100%;
    height: 135px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    object-fit: cover;
}
.shop1 > div{
    background-color: white;
    height: 135px;
    width: 20%;
    position: fixed;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}
.shop1_p > div{
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
}
.shop2{
    width: 20%;
    height: 270px;
    border: 1px solid #eeefea;
    border-radius: 5px;
    float: left;
    margin-right: 3.5%;
}
.shop2 > img{
    width: 100%;
    height: 135px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    object-fit: cover;
}
.shop2 > div{
    background-color: white;
    height: 135px;
    width: 20%;
    position: fixed;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}
.shop2_p > div{
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
}
.shop3{
    width: 20%;
    height: 270px;
    border: 1px solid #eeefea;
    border-radius: 5px;
    float: left;
}
.shop3 > img{
    width: 100%;
    height: 135px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    object-fit: cover;
}
.shop3 > div{
    background-color: white;
    height: 135px;
    width: 20%;
    position: fixed;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}
.shop3_p > div{
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
}
